name: Run Tests and Linter

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv pip install -e . --extra dev

      - name: Run tests
        run: uv run pytest tests/

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv pip install -e . --extra dev

      - name: Run ruff on changed files
        run: |
          git fetch origin ${{ github.base_ref }}
          git --no-pager diff origin/${{ github.base_ref }} --name-only --diff-filter=ACMR -z | xargs -0 -r uv run ruff check
          git --no-pager diff origin/${{ github.base_ref }} --name-only --diff-filter=ACMR -z | xargs -0 -r uv run ruff format --diff
